{% extends 'base.html'%}

{% block content%}
<div>
    <h2>My Card Collection</h2>
    <a href="{{url_for{'views.add_card'}}}">Add New Card</a>
</div>
<div>
    {% for card in cards%}
    <!--if exists-->
    <div>
        <div>
            <img src="{{card.image}}" class="card-img-top p-3 bg-light" alt="{{card.name}}">
            <div>
                <h4>{{card.name}}</h4>
                <p>HP:{{card.hp}}</p>
                <p>Type:{{card.type}}</p>
            </div>
            <div>
                <button>Remove</button>
            </div>
        </div>
    </div>
    {%else%}
    <div>
        <div>
            Your collection is empty! 
        </div>
    </div>
    {% endfor%}
</div>  
{%endblock%}