{% extends 'base.html'%}

{% block content%}
<div class="p-5 mb-4 bg-light rounded-3 text-center border shadow-sm">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold text-danger">Welcome to the Poke Vault</h1>
        <p class="col-md-8 mx-auto fs-4">
            Manage your ultimate Pokemon card collection.
            View your rarest pulls, upload new finds & track your deck's stats.
        </p>
        <a href="{{ url_for('views.collection') }}" class="btn btn-danger btn-lg mt-3">View Collection</a>
    </div>
</div>
{%endblock%}