{% extends 'base.html'%}

{% block content%}
<div class="text-center d-flex flex-column justify-content-center align-items-center" style="min-height: 65vh;">
    <div class="container-fluid">
        <h1 class="text-danger mb-4 retro-title">Welcome to the Poke Vault</h1>
        <p class="col-md-8 mx-auto retro-text mb-5">
            Manage your ultimate Pokemon card collection.
            View your rarest pulls, upload new finds & track your deck's stats.
        </p>
        <a href="{{ url_for('views.collection') }}" class="btn-retro-run text-decoration-none">View Collection</a>
    </div>
</div>
{%endblock%}